<body>
<p>
 <a href="{%url 'users:index'%}">Home</a>
 {%if user.is_authenticated%}
   <a href="{%url 'users:logout'%}">Log Out</a>
   <br>
   <br>
   <a href = "{%url 'users:rfa_form'%}">Fill out RFA Form</a>
   <br>
   <a href="{%url 'users:check_rfa'%}"> Check RFA Requests</a>
   <br>
   <br>
   <a href = "{%url 'users:rig_info'%}">Fill out EEE Trailer/Rig Information</a>
   <br>
   <a href = "{%url 'users:check_rig'%}"> Check EEE Trialer/Rig Information</a>
   <br>
   <br>
   <a href = "{%url 'users:dispatch_log'%}">Fill out Dispatch Hotline Log</a>
   <br>
   <a href = "{%url 'users:check_dispatch'%}">  Check Dispatch Hotline Logs</a>
   <br>
   <br>
   <a href = "{%url 'users:horse_manager'%}">Fill our Horse Manager Log</a>
   <br>
   <a href = "{%url 'users:check_horse'%}"> Check Horse Manager Log</a>
   <br>
   <br>
   <a href="{%url 'users:activation'%}">Available for Work</a>
   <br>
    {{user.username}}
 {%else%}
  <a href="{%url 'users:login' %}">Login</a>
  <a href="{%url 'users:signup' %}">Register</a>
 {%endif%}
</p>
</body>
{%block content%}{%endblock content%}